html {
    font-family: Courier, monospace;
}

body {
    /* transition: all 0.5s !important; */
    margin: 0px;
}

h2 {
    margin: 0px;
}

code {
    padding: 0.1em 0.4em;
    margin: 0;
    font-size: 100%;
    white-space: break-spaces;
    background-color: var(--light-gray);
    border-radius: 0.5em;
    position: relative;
    bottom: 0.1em;
}

button {
    padding: 0.1em 0.4em;
    margin: 0;
    font-size: 100%;
    white-space: break-spaces;
    background-color: var(--light-gray);
    border-radius: 0.5em;
    border: 0px;
    font-family: inherit;
    color: var(--main-color);
}

button:hover {
    cursor: pointer;
}

input[type="number"],
input[type="text"] {
    width: 10em;
    border-radius: 0.3em;
    padding-left: 5px;
    padding-top: 1px;
}

input {
    font-family: 'Courier';
    color: var(--main-color);
    background-color: var(--bg-color);
}

input[type="number"]::-webkit-inner-spin-button {
    opacity: 0.2;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5em;
    /* Height of the footer */
    background: var(--light-gray);
}

#main {
    padding-top: 0.5em;
}

.clickable {
    cursor: pointer;
}

.text {
    white-space: pre;
}